<?xml version="1.0"?>
<config>
    <modules>
        <Ecomitize_Test>
            <version>0.1.0</version>
        </Ecomitize_Test>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ecomitizetest>
                    <file>ecomitize/test.xml</file>
                </ecomitizetest>
            </updates>
        </layout>
        <routers>
            <ecomitizetest>
                <use>standard</use>
                <args>
                    <module>Ecomitize_Test</module>
                    <frontName>faqs</frontName>
                </args>
            </ecomitizetest>
        </routers>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <ecomitizetest>
                        <class>ecomitizetest/observer</class>
                        <method>addFaqsToTopMenu</method>
                    </ecomitizetest>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ecomitize_Test before="Mage_Adminhtml">Ecomitize_Test_Adminhtml</Ecomitize_Test>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ecomitizetest>
                    <file>ecomitize/test.xml</file>
                </ecomitizetest>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ecomitizetest>
                <class>Ecomitize_Test_Model</class>
                <resourceModel>ecomitizetest_resource</resourceModel>
            </ecomitizetest>
            <ecomitizetest_resource>
                <class>Ecomitize_Test_Model_Resource</class>
                <entities><!--Table Names-->
                    <faqs_table>
                        <table>faqs_entity</table>
                    </faqs_table>
                </entities>
            </ecomitizetest_resource>
        </models>
        <blocks>
            <ecomitizetest>
                <class>Ecomitize_Test_Block</class>
            </ecomitizetest>
        </blocks>
        <helpers>
            <ecomitizetest>
                <class>Ecomitize_Test_Helper</class>
            </ecomitizetest>
        </helpers>
        <resources>
            <ecomitizetest_setup>
                <setup>
                    <module>Ecomitize_Test</module>
                </setup>
            </ecomitizetest_setup>
        </resources>
    </global>
</config>