<?xml version="1.0"?>
<config>
    <modules>
        <Ecomitize_Product>
            <version>0.1.0</version>
        </Ecomitize_Product>
    </modules>
    <global>
        <resources>
            <ecomitize_product_setup>
                <setup>
                    <module>Ecomitize_Product</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </ecomitize_product_setup>
        </resources>
    </global>
</config>